body {
  background-color: #FBACCC;
}

hr {
  border-style: dotted;
  border-color: #FFEACA;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 75%;
  border-width: 0.3em 0 0px ;
  text-align: left;
  margin-left: 0px;

}
a{
  color:#A45D5D;
}
h1,h3,h4 {
  color: #4A403A;
}
